---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Badge from "../components/Badge.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import BriefcaseIcon from "../components/icons/BriefcaseIcon.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
---

<Layout
  title="Portafolio de Gusstavo - Desarrollador y Programador web"
  description="Contrata a Gusstavo para crear tu pagina web y darle una gran experiancia a los usuarios"
>
  <main
    class="grid justify-center content-start pt-48 md:pt-64 px-4 gap-36 md:gap-48"
  >
    <SectionContainer>
      <div class="w-full flex flex-wrap items-center gap-8">
        <h1 class="text-6xl font-bold text-pretty">Hey, soy Gusstavo</h1>
        <Badge color="blue">Disponible para trabajar</Badge>
      </div>
      <div class="w-full">
        <p class="text-xl md:text-2xl text-justify text-pretty">
          +4 años de experiencia. De Jalisco, México. Soy desarrollador web y me
          especializo en crear experiencias unicas.
        </p>
      </div>
      <div class="flex flex-wrap gap-4">
        <Badge><GithubIcon class="size-6" />Github</Badge>
        <Badge><LinkedinIcon class="size-6" />Linkedin</Badge>
        <Badge>gusstavo@example.me</Badge>
      </div>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-2xl md:text-3xl font-bold flex gap-2 items-center">
        <BriefcaseIcon class="size-6 md:size-8" />
        Experiecia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-2xl md:text-3xl font-bold flex gap-2 items-center">
        <CodeIcon class="size-6 md:size-8" />
        Ultimos proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="contact">
      <h2 class="text-2xl md:text-3xl font-bold flex gap-2 items-center">
        <MailIcon class="size-6 md:size-8" />
        Contactame
      </h2>
      <Contact />
    </SectionContainer>

    <Footer />
  </main>
</Layout>
