<footer class="bg-white rounded-lg shadow-md dark:bg-gray-800 mb-4">
  <div
    class="w-full p-4 grid place-items-center md:flex md:items-center md:justify-between"
  >
    <span
      class="text-md md:text-xl text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a href="https://flowbite.com/" class="hover:underline"
        >WWUXS™</a
      >. Todos los derechos reservados.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-md md:text-xl font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Inicio</a>
      </li>
      <li>
        <a href="#experience" class="hover:underline me-4 md:me-6"
          >Experiencia</a
        >
      </li>
      <li>
        <a href="#projects" class="hover:underline me-4 md:me-6">Proyectos</a>
      </li>
      <li>
        <a href="#contact" class="hover:underline">Contactame</a>
      </li>
    </ul>
  </div>
</footer>
