---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-neutral-100 text-zinc-800 dark:bg-neutral-950 dark:text-zinc-200"
  >
    <Header />
    <slot />
  </body>
</html>
<!-- ▄▄▄
   ▄▀░▄░▀▄
   █░▀▄▄▀█▄█▄▀
  ▄▄█▄▄▄▄███▀ 
 -->

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-size: 12px;
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-bg);
  }
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  //window.localStorage.setItem("theme", theme);
</script>
